.vs
.idea
models/
temp/
__pycache__/
*.pth
*.onnx
*.exe
start.bat
env/
.vscode/
output/
config.yaml
run.bat
venv/
start.sh
installer/installer.exe
installer/installer_files/
*.zip
*.7z
*.rar
__pycache__